.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
  }
  
  .grid-item {
    background-color: rgba(235, 235, 235, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .img-flag {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #280198;
  }
  
  .grid-item label {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
  }
  
  .div-search {
    width: 100%;
    height: 30px;
    background:rgba(224, 255, 255, 0.61);
  }
  
  .div-search input[type="text"] {
    border-style: solid;
    width: 20%;
    height: 50%;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 80%;
    margin-top: 5px;
    letter-spacing: 1.5px;
  }

  .div-search input[type="button"] {
    border-style: solid;
    width: 10%;
    height: 100%;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 80%;
    margin-top: 5px;
    letter-spacing: 1.5px;
  }